@media (max-width:576px) {
  .home-img {
    height: 75vh !important;
  }


   .main-heading {
    font-size: 29px !important;
    font-weight: 800 !important;

  }

   .para1 {
    font-size: 20px !important;
    color: rgba(255, 255, 255, 0.957) !important;
  }

  .position {
    position: absolute;

    top: 300px !important;
    left: 20px !important;
  }
  .position {
   top: 400px!important;
}
 .about-container {
    flex-direction: column;
  }

  .about-content {
    padding: 40px 25px;
  }
   .com-heading {
    font-weight: 600 !important;
    font-size: 28px !important;
    text-align: left;
  }
  .visit-img{
  margin-top: 70px;
  height: 500px !important;
}
#essential{
  background: transparent;
}
.desktop-bar{
  display: none !important;
}
.p-color1{
 
  font-size: 18px!important;
}
.about-content h2 {
  font-size: 26px !important;
  font-weight: 600 !important;
  line-height: 1.2;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.top-border{
  margin-bottom: 25px !important;
}
.about-image img {
  width: 400px !important;
  height: 400px!important;
  padding: 0px;

}
  .top-bar {
    flex-direction: column;
    align-items: center;
    padding: 14px 16px;
    gap: 14px;
  }

  .learn-more {
    /* color:#fff;
  text-decoration:none;
  border-bottom:2px solid #fff; */
    display: none;
  }
  
  .position {
  position: absolute;

  top: 300px !important;
  left: 77px;

}

}
@media (min-width: 768px) and (max-width: 991px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
    padding: 14px 16px;
    gap: 14px;
  }
    .home-img {
    height: 65vh !important;
  }
  .com-heading {
    font-weight: 800 !important;
    font-size: 38px !important;
    text-align: center;
  }
  .p-color{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
  }
  .learn-btn{
  margin-left: calc( 50% - 40px);
  }
  .programs-br{
    display:none ;
  }
  .essential-heading{
    text-align: left;
  }
  .essential-para{
    text-align: left;
    padding-left: 0px;
    padding-right: 100px;
  }
  .top-border{
    margin-bottom: 25px;
  }
  .top-heading{
    text-align: left;
    margin-bottom: 30px;
  }
  .footer-col{
    text-align: left;
  }
}